# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Virtual environment
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Build
build/
*.zip

# Pygbag
*.wav
*.mp3
*.pyc
*.egg-info
*-pygbag.???
/build
/dist

# MacOS
.DS_Store

# Visual Studio Code
.vscode

